:root {
    --0: 10000px;
    --1: #e6e6e6;
    --2: #616161;
    --3: #ffffff;
    --4: #0f6cbd;
    --5: #ffffff;
    --6: #ebf3fc;
    --7: #115ea3;
    --8: #b4d6fa;
    --9: #d13438;
    --a: #ffffff;
    --b: #fdf6f6;
    --c: #bc2f32;
    --d: #f1bbbc;
    --e: #242424;
    --f: #ffffff;
    --g: #616161;
    --h: #ffffff;
    --i: transparent;
    --j: #242424;
    --k: #ebebeb;
    --l: #f0f0f0;
    --m: #616161;
    --n: #e0e0e0;
    --o: #107c10;
    --p: #ffffff;
    --q: #f1faf1;
    --r: #0e700e;
    --s: #107c10;
    --t: #242424;
    --u: #fde300;
    --v: #fffef5;
    --w: #817400;
    --x: #fef7b2;
    --y: #da3b01;
    --z: #ffffff;
    --A: #fdf6f3;
    --B: #c43501;
    --C: #f4bfab;
    --D: 10000px;
    --E: #0f6cbd;
    --F: 0;
    --G: 10px;
    --H: 14px;
    --I: 12px;
    --J: 16px;
    --K: 14px;
    --L: 20px;
    --M: 16px;
    --N: 22px;
    --O: 20px;
    --P: 28px;
    --Q: 24px;
    --R: 400;
    --S: 500;
    --T: 600;
    --U: 700;
    --V: 4px;
    --W: 6px;
    --X: 10px;
    --Y: 2px;
    --Z: 4px;
    ---: 8px;
    --_: 12px;
    --00: 16px;
    --01: 2px;
    --02: 4px;
    --03: 6px;
    --04: 8px;
    --05: 1px;
    --06: "Segoe Sans", "Segoe UI", "Segoe UI Web (West European)",
        -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    --07: 2px;
    --08: #000000;
    --09: 0 0 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.14);
    --0a: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14);
    --0b: 0 0 2px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.14);
    --0c: 0 0 2px rgba(0, 0, 0, 0.12), 0 8px 16px rgba(0, 0, 0, 0.14);
    --0d: 0 0 8px rgba(0, 0, 0, 0.12), 0 14px 28px rgba(0, 0, 0, 0.14);
    --0e: 0 0 8px rgba(0, 0, 0, 0.3), 0 32px 64px rgba(0, 0, 0, 0.25);
    --0f: 50ms;
    --0g: 100ms;
    --0h: 200ms;
    --0i: 400ms;
    --0j: 500ms;
    --0k: 250ms;
    --0l: cubic-bezier(0.9, 0.1, 1, 0.2);
    --0m: cubic-bezier(1, 0, 1, 1);
    --0n: cubic-bezier(0.8, 0, 0.78, 1);
    --0o: cubic-bezier(0.1, 0.9, 0.2, 1);
    --0p: cubic-bezier(0, 0, 0, 1);
    --0q: cubic-bezier(0.33, 0, 0.1, 1);
    --0r: cubic-bezier(0.8, 0, 0.2, 1);
    --0s: cubic-bezier(0.33, 0, 0.67, 1);
    --0t: cubic-bezier(0, 0, 1, 1);
    --0u: 24px;
    --0v: 16px;
    --0w: 8px;
    --0x: 24px;
    --0y: #ffffff;
    --0z: #f5f5f5;
    --0A: #e0e0e0;
    --0B: #f0f0f0;
    --0C: #e6e6e6;
    --0D: #c7c7c7;
    --0E: #b3b3b3;
    --0F: #e0e0e0;
    --0G: transparent;
    --0H: #242424;
    --0I: #242424;
    --0J: #242424;
    --0K: #bdbdbd;
    --0L: #0f6cbd;
    --0M: #115ea3;
    --0N: #0c3b5e;
    --0O: #ffffff;
    --0P: #ffffff;
    --0Q: #ffffff;
    --0R: transparent;
    --0S: transparent;
    --0T: transparent;
    --0U: transparent;
    --0V: #f5f5f5;
    --0W: #e0e0e0;
    --0X: #525252;
    --0Y: #242424;
    --0Z: #242424;
    --0-: transparent;
    --0_: transparent;
    --10: transparent;
    --11: #525252;
    --12: #0f6cbd;
    --13: #115ea3;
    --14: 10000px;
    --15: 0;
    --16: transparent;
    --17: #ffffff;
    --18: #000000;
    --19: #242424;
    --1a: #bdbdbd;
    --1b: #ffffff;
    --1c: #292929;
    --1d: #f5f5f5;
    --1e: transparent;
    --1f: transparent;
    --1g: transparent;
    --1h: transparent;
    --1i: #e6e6e6;
    --1j: #c7c7c7;
    --1k: #b3b3b3;
    --1l: #e0e0e0;
    --1m: #d13438;
    --1n: #0f6cbd;
    --1o: #0f548c;
    --1p: #e0e0e0;
    --1q: #616161;
    --1r: #575757;
    --1s: #4d4d4d;
    --1t: transparent;
    --1u: #616161;
    --1v: #242424;
    --1w: #bdbdbd;
    --1x: #ffffff;
    --1y: #242424;
    --1z: #707070;
    --1A: #e6e6e6;
    --1B: 24px;
    --1C: #e6e6e6;
    --1D: #ffffff;
    --1E: rgba(0, 0, 0, 0.4);
    --1F: #242424;
    --1G: transparent;
    --1H: 1px;
    --1I: #0f6cbd;
    --1J: transparent;
    --1K: #e6e6e6;
}
