.darkTheme {
    --0: 10000px;
    --1: #333333;
    --2: #adadad;
    --3: #292929;
    --4: #ffffff;
    --5: #479ef5;
    --6: #082338;
    --7: #62abf5;
    --8: #0e4775;
    --9: #e37d80;
    --a: #292929;
    --b: #3f1011;
    --c: #ffffff;
    --d: #d13438;
    --e: #adadad;
    --f: #242424;
    --g: #adadad;
    --h: #292929;
    --i: #242424;
    --j: #adadad;
    --k: #0a0a0a;
    --l: #0a0a0a;
    --m: #adadad;
    --n: #525252;
    --o: #9fd89f;
    --p: #052505;
    --q: #052505;
    --r: #54b054;
    --s: #9fd89f;
    --t: #4c4400;
    --u: #ffffff;
    --v: #4c4400;
    --w: #fef7b2;
    --x: #fde300;
    --y: #e9835e;
    --z: #292929;
    --A: #411200;
    --B: #e9835e;
    --C: #da3b01;
    --D: 10000px;
    --E: #0f6cbd;
    --F: 0;
    --G: 10px;
    --H: 14px;
    --I: 12px;
    --J: 16px;
    --K: 14px;
    --L: 20px;
    --M: 16px;
    --N: 22px;
    --O: 20px;
    --P: 28px;
    --Q: 24px;
    --R: 400;
    --S: 500;
    --T: 600;
    --U: 700;
    --V: 4px;
    --W: 6px;
    --X: 10px;
    --Y: 2px;
    --Z: 4px;
    ---: 8px;
    --_: 12px;
    --00: 16px;
    --01: 2px;
    --02: 4px;
    --03: 6px;
    --04: 8px;
    --05: 1px;
    --06: "Segoe Sans", "Segoe UI", "Segoe UI Web (West European)",
        -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    --07: 2px;
    --08: #ffffff;
    --09: 0 0 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.14);
    --0a: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14);
    --0b: 0 0 2px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.14);
    --0c: 0 0 2px rgba(0, 0, 0, 0.12), 0 8px 16px rgba(0, 0, 0, 0.14);
    --0d: 0 0 8px rgba(0, 0, 0, 0.12), 0 14px 28px rgba(0, 0, 0, 0.14);
    --0e: 0 0 8px rgba(0, 0, 0, 0.3), 0 32px 64px rgba(0, 0, 0, 0.25);
    --0f: 50ms;
    --0g: 100ms;
    --0h: 200ms;
    --0i: 400ms;
    --0j: 500ms;
    --0k: 250ms;
    --0l: cubic-bezier(0.9, 0.1, 1, 0.2);
    --0m: cubic-bezier(1, 0, 1, 1);
    --0n: cubic-bezier(0.8, 0, 0.78, 1);
    --0o: cubic-bezier(0.1, 0.9, 0.2, 1);
    --0p: cubic-bezier(0, 0, 0, 1);
    --0q: cubic-bezier(0.33, 0, 0.1, 1);
    --0r: cubic-bezier(0.8, 0, 0.2, 1);
    --0s: cubic-bezier(0.33, 0, 0.67, 1);
    --0t: cubic-bezier(0, 0, 1, 1);
    --0u: 24px;
    --0v: 16px;
    --0w: 8px;
    --0x: 24px;
    --0y: #292929;
    --0z: #3d3d3d;
    --0A: #1f1f1f;
    --0B: #141414;
    --0C: #666666;
    --0D: #757575;
    --0E: #6b6b6b;
    --0F: #424242;
    --0G: transparent;
    --0H: #ffffff;
    --0I: #ffffff;
    --0J: #ffffff;
    --0K: #5c5c5c;
    --0L: #115ea3;
    --0M: #0f6cbd;
    --0N: #0c3b5e;
    --0O: #ffffff;
    --0P: #ffffff;
    --0Q: #ffffff;
    --0R: transparent;
    --0S: transparent;
    --0T: transparent;
    --0U: transparent;
    --0V: #383838;
    --0W: #2e2e2e;
    --0X: #d6d6d6;
    --0Y: #ffffff;
    --0Z: #ffffff;
    --0-: transparent;
    --0_: transparent;
    --10: transparent;
    --11: #d6d6d6;
    --12: #479ef5;
    --13: #2886de;
    --14: 10000px;
    --15: 0;
    --16: transparent;
    --17: #000000;
    --18: #ffffff;
    --19: #ffffff;
    --1a: #5c5c5c;
    --1b: #292929;
    --1c: #ffffff;
    --1d: #141414;
    --1e: transparent;
    --1f: transparent;
    --1g: transparent;
    --1h: transparent;
    --1i: #666666;
    --1j: #757575;
    --1k: #6b6b6b;
    --1l: #424242;
    --1m: #e37d80;
    --1n: #479ef5;
    --1o: #2886de;
    --1p: #424242;
    --1q: #adadad;
    --1r: #bdbdbd;
    --1s: #b3b3b3;
    --1t: transparent;
    --1u: #adadad;
    --1v: #ffffff;
    --1w: #5c5c5c;
    --1x: #242424;
    --1y: #ffffff;
    --1z: #999999;
    --1A: #666666;
    --1B: 24px;
    --1C: #666666;
    --1D: #292929;
    --1E: rgba(0, 0, 0, 0.5);
    --1F: #ffffff;
    --1G: transparent;
    --1H: 1px;
    --1I: #479ef5;
    --1J: transparent;
    --1K: #333333;
}
