@phoenixui:registry=https://pkgs.dev.azure.com/microsoftdesign/edge-design/_packaging/phoenixui/npm/registry/ 
@mai-ui:registry=https://pkgs.dev.azure.com/microsoftdesign/edge-design/_packaging/phoenixui/npm/registry/ 
registry=https://registry.npmjs.org/
