/**
 * This is a manual mapping of ctrl tokens to kumo values using the fluent2.kumo.css file and existing fluent UI fluent2 mappings
 * as well as the design tokens naming from figma seen in design-tokens.figma.ts as a guide
 */
body {
    --ctrlAvatarDefaultCorner: 10000px; /* fluent2: borderRadiusCircular | components: avatar */
    --ctrlAvatarDefaultBackgroundColor: #e6e6e6; /* ctrl token not available | fluent2: colorNeutralBackground6 | components: avatar */
    --ctrlAvatarDefaultForegroundColor: #616161; /* ctrl token not available | fluent2: colorNeutralForeground3 | components: avatar */
    --ctrlAvatarDefaultBadgeStrokeColor: #ffffff; /* ctrl token not available | fluent2: colorNeutralBackground1 | components: avatar */
    --ctrlStatusBrandBackgroundColor: #0f6cbd; /* check ctrl token naming | fluent2: colorBrandForeground1 */
    --ctrlStatusBrandForegroundColor: #ffffff; /* check ctrl token naming | fluent2: colorNeutralForegroundOnBrand, colorBrandBackgroundStatic | components: badge, avatar */
    --ctrlStatusBrandTintBackgroundColor: #ebf3fc; /* check ctrl token naming | fluent2: colorBrandBackground2 */
    --ctrlStatusBrandTintForegroundColor: #115ea3; /* check ctrl token naming | fluent2: colorBrandForeground2 */
    --ctrlStatusBrandTintStrokeColor: #b4d6fa; /* check ctrl token naming | fluent2: colorBrandStroke2 */
    --ctrlStatusDangerBackgroundColor: #d13438; /* check ctrl token naming | fluent2: colorPaletteRedBackground3 | components: progress-bar */
    --ctrlStatusDangerForegroundColor: #ffffff; /* check ctrl token naming | fluent2: colorNeutralForegroundOnBrand | components: badge */
    --ctrlStatusDangerTintBackgroundColor: #fdf6f6; /* check ctrl token naming | fluent2: colorPaletteRedBackground1 */
    --ctrlStatusDangerTintForegroundColor: #bc2f32; /* check ctrl token naming | fluent2: colorPaletteRedForeground1 */
    --ctrlStatusDangerTintStrokeColor: #f1bbbc; /* check ctrl token naming | fluent2: colorPaletteRedBorder1 */
    --ctrlStatusImportantBackgroundColor: #242424; /* check ctrl token naming | fluent2: colorNeutralForeground1 | components: badge */
    --ctrlStatusImportantForegroundColor: #ffffff; /* check ctrl token naming | fluent2: colorNeutralBackground1 */
    --ctrlStatusImportantTintBackgroundColor: #616161; /* check ctrl token naming | fluent2: colorNeutralForeground3 */
    --ctrlStatusImportantTintForegroundColor: #ffffff; /* check ctrl token naming | fluent2: colorNeutralBackground1 */
    --ctrlStatusImportantTintStrokeColor: transparent; /* check ctrl token naming | fluent2: colorTransparentStroke | components: badge */
    --ctrlStatusInformativeForegroundColor: #242424; /* check ctrl token naming | fluent2: colorNeutralForeground3 */
    --ctrlStatusInformativeBackgroundColor: #ebebeb; /* check ctrl token naming | fluent2: colorNeutralBackground5 */
    --ctrlStatusInformativeTintBackgroundColor: #f0f0f0; /* check ctrl token naming | fluent2: colorNeutralBackground4 */
    --ctrlStatusInformativeTintForegroundColor: #616161; /* check ctrl token naming | fluent2: colorNeutralForeground3 */
    --ctrlStatusInformativeTintStrokeColor: #e0e0e0; /* check ctrl token naming | fluent2: colorNeutralStroke2 */
    --ctrlStatusSuccessBackgroundColor: #107c10; /* check ctrl token naming | fluent2: colorPaletteGreenBackground3 | components progress-bar */
    --ctrlStatusSuccessForegroundColor: #ffffff; /* check ctrl token naming | fluent2: colorNeutralForegroundOnBrand | components: badge */
    --ctrlStatusSuccessTintBackgroundColor: #f1faf1; /* check ctrl token naming | fluent2: colorPaletteGreenBackground1 */
    --ctrlStatusSuccessTintForegroundColor: #0e700e; /* check ctrl token naming | fluent2: colorPaletteGreenForeground1 */
    --ctrlStatusSuccessTintStrokeColor: #107c10; /* check ctrl token naming | fluent2: colorPaletteGreenBorder2 */
    --ctrlStatusWarningForegroundColor: #242424; /* check ctrl token naming | fluent2: colorNeutralForeground1Static */
    --ctrlStatusWarningBackgroundColor: #fde300; /* check ctrl token naming | fluent2: colorPaletteYellowBackground3 */
    --ctrlStatusWarningTintBackgroundColor: #fffef5; /* check ctrl token naming | fluent2: colorPaletteYellowBackground1 */
    --ctrlStatusWarningTintForegroundColor: #817400; /* check ctrl token naming | fluent2: colorPaletteYellowForeground2 */
    --ctrlStatusWarningTintStrokeColor: #fef7b2; /* check ctrl token naming | fluent2: colorPaletteYellowBorder1 */
    --ctrlStatusCautionBackgroundColor: #da3b01; /* check ctrl token naming | fluent2: colorPaletteDarkOrangeBackground3 | components: progress-bar */
    --ctrlStatusCautionForegroundColor: #ffffff; /* check ctrl token naming | fluent2: colorNeutralForegroundOnBrand | components: badge */
    --ctrlStatusCautionTintBackgroundColor: #fdf6f3; /* check ctrl token naming | fluent2: colorPaletteDarkOrangeBackground1 */
    --ctrlStatusCautionTintForegroundColor: #c43501; /* check ctrl token naming | fluent2: colorPaletteDarkOrangeForeground1 */
    --ctrlStatusCautionTintStrokeColor: #f4bfab; /* check ctrl token naming | fluent2: colorPaletteDarkOrangeBorder1 */
    --ctrlBadgeDefaultCorner: 10000px; /* fluent2: borderRadiusCircular | badge */
    --ctrlBadgeBrandBackgroundColor: #0f6cbd; /* fluent2: colorBrandBackground | component: badge */
    --ctrlBadgeZeroCorner: 0; /* fluent2: borderRadiusNone | component: badge */
    --ctrlListBackgroundColor: transparent; /* fluent2: colorTransparentBackground | component: accordion-item */
    --ctrlListStrokeColorSelectedRest: #ffffff; /* fluent2: colorStrokeFocus1 | component: accordion-item */
    --ctrlListStrokeColorBoxShadowSelectedRest: #000000; /* ctrl not accounted for -- TODO: determine if this should change | fluent2: colorStrokeFocus2 | component: accordion-item */
    --ctrlListForegroundColorRest: #242424; /* fluent2: colorNeutralForeground1 | component: accordion-item */
    --ctrlListForegroundColorDisabled: #bdbdbd; /* fluent2: colorNeutralForegroundDisabled | component: accordion-item */
    --ctrlDefaultPaddingVerticalDefaultXS: 4px; /* ctrl token not available | fluent2: spacingVerticalXS | components: text-input */
    --ctrlDefaultPaddingIconOnly: #ff0000; /* unused -- not broken out into subsets */
    --ctrlDefaultPaddingIconOnlyS: 6px; /* ctrl token not available | fluent2: spacingHorizontalSNudge | components: text-input, button */
    --ctrlDefaultPaddingiconOnlyM: 10px; /* ctrl token not available | fluent2: spacingHorizontalMNudge | components: text-input, accordion-item */
    --ctrlDefaultPaddingToNestedControl: #ff0000; /* unused -- not broken out into subsets */
    --ctrlDefaultPaddingToNestedControlXXS: 2px; /* ctrl token not available -- density | fluent2: spacingHorizontalXXS | components: badge, text-input */
    --ctrlDefaultPaddingToNestedControlXS: 4px; /* ctrl token not available -- density | fluent2: spacingHorizontalXS | components: badge, text-input, button */
    --ctrlDefaultPaddingToNestedControlS: 8px; /* ctrl token not available -- density | fluent2: spacingHorizontalS | components: text-input, accordion-item, button */
    --ctrlDefaultPaddingToNestedControlM: 12px; /* ctrl token not available -- density | fluent2: spacingHorizontalM | components: text-input, accordion-item, button */
    --ctrlDefaultPaddingToNestedControlL: 16px; /* ctrl token not available -- density | fluent2: spacingHorizontalL | components: button */
    --ctrlDefaultCornerSmall: 2px; /* ctrl token not available -- density | fluent2: borderRadiusSmall | component: button, accordion-item */
    --ctrlDefaultCornerMedium: 4px; /* ctrl token not available -- density | fluent2: borderRadiusMedium | component: button, text-input, accordion-item, progress-bar */
    --ctrlDefaultCornerLarge: 6px; /* ctrl token not available -- density | fluent2: borderRadiusLarge | component: button */
    --ctrlDefaultCornerXLarge: 8px; /* ctrl token not available -- density | fluent2: borderRadiusXLarge */
    --ctrlDefaultStrokeWidth: 1px; /* fluent2: strokeWidthThin | components: badge, text-input, avatar, button */
    --ctrlDefaultTextDefaultFamily: "Segoe Sans", "Segoe UI",
        "Segoe UI Web (West European)", -apple-system, BlinkMacSystemFont,
        Roboto, "Helvetica Neue", sans-serif; /* fluent2: fontFamilyBase | components: badge, text-input, accordion-item, avatar, button */
    --ctrlPageTextRampCaption2FontSize: 10px; /* fluent2: fontSizeBase100 | components: avatar */
    --ctrlPageTextRampCaption1FontSize: 12px; /* fluent2: fontSizeBase200 | components: button, accordion-item, text-input, badge */
    --ctrlPageTextRampBody2FontSize: 14px; /* fluent2: fontSizeBase300 | components: button, accordion-item, text-input */
    --ctrlPageTextRampBody1FontSize: 16px; /* fluent2: fontSizeBase400 | components: button, accordion-item, text-input */
    --ctrlPageTextRampTitle2FontSize: 20px; /* fluent2: fontSizeBase500 | components: accordion-item, text-input */
    --ctrlPageTextRampTitle1FontSize: 24px; /* fluent2: fontSizeBase600 | components: text-input */
    --ctrlPageTextDefaultWeightRegular: 400; /* ctrl token not available -- density | fluent2: fontWeightRegular | components: button, accordion-item, text-input, avatar */
    --ctrlPageTextDefaultWeightMedium: 500; /* ctrl token not available -- TODO: this goes to button font weight | fluent2: fontWeightMedium | components: not found */
    --ctrlPageTextDefaultWeightSemibold: 600; /* ctrl token not available -- fluent2: fontWeightSemibold | components: button, badge */
    --ctrlPageTextDefaultWeightBold: 700; /* ctrl token not available -- fluent2: fontWeightBold | components: not found */
    --ctrlPageTextRampCaption2LineHeight: 14px; /* fluent2: lineHeightBase100 */
    --ctrlPageTextRampCaption1LineHeight: 16px; /* fluent2: lineHeightBase200 | components: button, badge, text-input, accordion-item */
    --ctrlPageTextRampBody2LineHeight: 20px; /* fluent2: lineHeightBase300 | components: button, text-input, accordion-item */
    --ctrlPageTextRampBody1LineHeight: 22px; /* fluent2: lineHeightBase400 | components: button, text-input, accordion-item */
    --ctrlPageTextRampTitle2LineHeight: 28px; /* fluent2: lineHeightBase500 | components: accordion-item */
    --ctrlDefaultFocusOuterStrokeWidth: 2px; /* fluent2: strokeWidthThick | components: button */
    --ctrlDefaultFocusOuterStrokeColor: #000000; /* fluent2: colorStrokeFocus2 | components: button */
    --ctrlDefaultShadow2: 0 0 2px rgba(0, 0, 0, 0.12), 0 1px 2px
        rgba(0, 0, 0, 0.14); /* ctrl token not available -- these should map to a color and blur (not broken out) | fluent2: shadow2 | components: text-input, button */
    --ctrlDefaultShadow4: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px
        rgba(0, 0, 0, 0.14); /* ctrl token not available -- these should map to a color and blur (not broken out) | fluent2: shadow4 | components: button */
    --ctrlDefaultShadow8: 0 0 2px rgba(0, 0, 0, 0.12), 0 4px 8px
        rgba(0, 0, 0, 0.14); /* ctrl token not available -- these should map to a color and blur (not broken out) | fluent2: shadow8 | components: avatar */
    --ctrlDefaultShadow16: 0 0 2px rgba(0, 0, 0, 0.12), 0 8px 16px
        rgba(0, 0, 0, 0.14); /* ctrl token not available -- these should map to a color and blur (not broken out) | fluent2: shadow16 */
    --ctrlDefaultShadow28: 0 0 8px rgba(0, 0, 0, 0.12), 0 14px 28px
        rgba(0, 0, 0, 0.14); /* ctrl token not available -- these should map to a color and blur (not broken out) | fluent2: shadow28 */
    --ctrlDefaultShadow64: 0 0 8px rgba(0, 0, 0, 0.3), 0 32px 64px
        rgba(0, 0, 0, 0.25); /* ctrl token not available -- these should map to a coor and blur (not broken out) | fluent2: shadow64 | components: dialog */
    --ctrlDefaultDurationUltraFast: 50ms; /* ctrl token not available yet | fluent2: durationUltraFast | text-input */
    --ctrlDefaultDurationFaster: 100ms; /* ctrl token not available yet | fluent2: durationFaster | avatar, button */
    --ctrlDefaultDurationNormal: 200ms; /* ctrl token not available yet | fluent2: durationNormal | text-input */
    --ctrlDefaultDurationSlower: 400ms; /* ctrl token not available yet | fluent2: durationSlower | avatar */
    --ctrlDefaultDurationUltraSlow: 500ms; /* ctrl token not available yet | fluent2: durationUlraSlow | avatar */
    --ctrlDefaultDurationGentle: 250ms; /* ctrl token not available yet | fluent2: durationGentle | dialog */
    --ctrlDefaultCurveAccelerateMax: cubic-bezier(0.9, 0.1, 1, 0.2); /* ctrl token not available yet | fluent2: curveAccelerateMax | avatar */
    --ctrlDefaultCurveAccelerateMid: cubic-bezier(1, 0, 1, 1); /* ctrl token not available yet | fluent2: curveAccelerateMid | components: text-input, avatar */
    --ctrlDefaultCurveAccelerateMin: cubic-bezier(0.8, 0, 0.78, 1); /* ctrl token not available yet | fluent2: curveAccelerateMin | components: avatar */
    --ctrlDefaultCurveDecelerateMax: cubic-bezier(0.1, 0.9, 0.2, 1); /* ctrl token not available yet | fluent2: curveDecelerateMax | components: avatar */
    --ctrlDefaultCurveDecelerateMid: cubic-bezier(0, 0, 0, 1); /* ctrl token not available yet | fluent2: curveDecelerateMid | components: text-input, avatar */
    --ctrlDefaultCurveDecelerateMin: cubic-bezier(0.33, 0, 0.1, 1); /* ctrl token not available yet | fluent2: curveDecelerateMin | components: avatar */
    --ctrlDefaultCurveEasyEaseMax: cubic-bezier(0.8, 0, 0.2, 1); /* ctrl token not available yet | fluent2: curveEasyEaseMax | components: avatar */
    --ctrlDefaultCurveEasyEaseMid: cubic-bezier(0.33, 0, 0.67, 1); /* ctrl token not available yet | fluent2: curveEasyEase | components: avatar, button */
    --ctrlDefaultCurveLinear: cubic-bezier(0, 0, 1, 1); /* ctrl token not available yet | fluent2: curveLinear | components: avatar */
    --ctrlDefaultSpacingHorizontalXXL: 24px; /* ctrl not available | fluent2: spacingHorizontalXXL | components: dialog */
    --ctrlDefaultSpacingVerticalL: 16px; /* ctrl not available | fluent2: spacingVerticalL | components: dialog */
    --ctrlDefaultSpacingVerticalS: 8px; /* ctrl not available | fluent2: spacingVerticalS | components: dialog */
    --ctrlDefaultSpacingVerticalXXL: 24px; /* ctrl not available | fluent2: spacingVerticalXXL | components: dialog */
    --ctrlButtonDefaultBackgroundRest: #ffffff; /* fluent2: colorNeutralBackground1 | components: button */
    --ctrlButtonDefaultBackgroundHover: #f5f5f5; /* fluent2: colorNeutralBackground1Hover | components: button */
    --ctrlButtonDefaultBackgroundPressed: #e0e0e0; /* fluent2: colorNeutralBackground1Pressed | components: button */
    --ctrlButtonDefaultBackgroundDisabled: #f0f0f0; /* fluent2: colorNeutralBackgroundDisabled | components: button */
    --ctrlButtonDefaultStrokeColorRest: #e6e6e6; /* fluent2: colorNeutralStroke1 | components: button */
    --ctrlButtonDefaultStrokeColorHover: #c7c7c7; /* fluent2: colorNeutralStroke1Hover | components: button */
    --ctrlButtonDefaultStrokeColorPressed: #b3b3b3; /* fluent2: colorNeutralStroke1Pressed | components: button */
    --ctrlButtonDefaultStrokeColorDisabled: #e0e0e0; /* fluent2: colorNeutralStrokeDisabled | components: button */
    --ctrlButtonDefaultStrokeColorSelectedRest: transparent; /* fluent2: colorTransparentStroke | components: button */
    --ctrlButtonDefaultForegroundColorRest: #242424; /* fluent2: colorNeutralForeground1 | component: button */
    --ctrlButtonDefaultForegroundColorHover: #242424; /* fluent2: colorNeutralForeground1Hover | component: button */
    --ctrlButtonDefaultForegroundColorPressed: #242424; /* fluent2: colorNeutralForeground1Pressed | component: button */
    --ctrlButtonDefaultForegroundColorDisabled: #bdbdbd; /* fluent2: colorNeutralForegroundDisabled | components: button */
    --ctrlButtonBrandBackgroundRest: #0f6cbd; /* fluent2: colorBrandBackground | component: button */
    --ctrlButtonBrandBackgroundHover: #115ea3; /* fluent2: colorBrandBackgroundHover | component: button */
    --ctrlButtonBrandBackgroundPressed: #0c3b5e; /* fluent2: colorBrandBackgroundPressed | component button */
    --ctrlButtonBrandStrokeColorSelectedRest: #ffffff; /* fluent2: colorNeutralForegroundOnBrand | components: button */
    --ctrlButtonBrandForegroundColorRest: #ffffff; /* fluent2: colorNeutralForegroundOnBrand | components: button */
    --ctrlButtonBrandForegroundColorHover: #ffffff; /* fluent2: colorNeutralForegroundOnBrand | components: button */
    --ctrlButtonOutlineBackgroundRest: transparent; /* fluent2: colorTransparentBackground | components: button */
    --ctrlButtonOutlineBackgroundHover: transparent; /* fluent2: colorTransparentBackgroundHover | components: button */
    --ctrlButtonOutlineBackgroundPressed: transparent; /* fluent2: colorTransparentBackgroundPressed | components: button */
    --ctrlButtonSubtleBackgroundRest: transparent; /* fluent2: colorSubtleBackground | components: button */
    --ctrlButtonSubtleBackgroundHover: #f5f5f5; /* fluent2: colorSubtleBackgroundHover | components: button */
    --ctrlButtonSubtleBackgroundPressed: #e0e0e0; /* fluent2: colorSubtleBackgroundPressed | components: button */
    --ctrlButtonSubtleForegroundColorRest: #525252; /* fluent2: colorNeutralForeground2 | components: button */
    --ctrlButtonSubtleForegroundColorHover: #242424; /* fluent2: colorNeutralForeground2Hover | components: button */
    --ctrlButtonSubtleForegroundColorPressed: #242424; /* fluent2: colorNeutralForeground2Pressed | components: button */
    --ctrlButtonTransparentBackgroundRest: transparent; /* fluent2: colorTransparentBackground | components: button */
    --ctrlButtonTransparentBackgroundHover: transparent; /* fluent2: colorTransparentBackgroundHover | components: button */
    --ctrlButtonTransparentBackgroundPressed: transparent; /* fluent2: colorTransparentBackgroundPressed | components: button */
    --ctrlButtonTransparentForegroundColorRest: #525252; /* fluent2: colorNeutralForeground2 | components: button */
    --ctrlButtonTransparentForegroundColorHover: #0f6cbd; /* fluent2: colorNeutralForeground2BrandHover | components: button */
    --ctrlButtonTransparentForegroundColorPressed: #115ea3; /* fluent2: colorNeutralForeground2BrandPressed | components: button */
    --ctrlButtonCircularCorner: 10000px; /* fluent2: borderRadiusCircular | component: button */
    --ctrlButtonZeroCorner: 0; /* fluent2: borderRadiusNone | component: button */
    --ctrlTextInputBackgroundRest: #ffffff; /* fluent2: colorNeutralBackground1 | components: text-input */
    --ctrlTextInputBackgroundSelectedRest: #292929; /* fluent2: colorNeutralBackgroundInverted | components: text-input */
    --ctrlTextInputDarkerBackgroundRest: #f5f5f5; /* ctrl token not available -- not supported | fluent2: colorNeutralBackground3 | components: text-input */
    --ctrlTextInputDarkerStrokeColorRest: transparent; /* ctrl token not available -- not supported | fluent2: colorTransparentStroke | components: text-input */
    --ctrlTextInputDarkerStrokeColorHover: transparent; /* ctrl token not available -- not supported | fluent2: colorTransparentStrokeInteractive | components: text-input */
    --ctrlTextInputLighterStrokeColorRest: transparent; /* ctrl token not available -- not supported | fluent2: colorTransparentStroke | components: text-input */
    --ctrlTextInputLighterStrokeColorHover: transparent; /* ctrl token not available -- not supported | fluent2: colorTransparentStrokeInteractive | components: text-input */
    --ctrlTextInputStrokeColorRest: #e6e6e6; /* fluent2: colorNeutralStroke1 | components: text-input */
    --ctrlTextInputStrokeColorHover: #c7c7c7; /* fluent2: colorNeutralStroke1Hover | components: text-input */
    --ctrlTextInputStrokeColorPressed: #b3b3b3; /* fluent2: colorNeutralStroke1Pressed | components: text-input */
    --ctrlTextInputStrokeColorDisabled: #e0e0e0; /* fluent2: colorNeutralStrokeDisabled | components: text-input */
    --ctrlTextInputStrokeColorErrorRest: #d13438; /* fluent2: colorPaletteRedBorder2 | components: text-input */
    --ctrlTextInputStrokeBottomColorRest: #0f6cbd; /* fluent2: colorCompoundBrandStroke | components: text-input */
    --ctrlTextInputStrokeBottomColorPressed: #0f548c; /* fluent2: colorCompoundBrandStrokePressed | components: text-input */
    --ctrlTextInputStrokeBottomColorDisabled: #e0e0e0; /* fluent2: colorNeutralStrokeDisabled | components: text-input */
    --ctrlTextInputAccessibleStrokeBottomColorRest: #616161; /* ctrl token not available -- missing | fluent2: colorNeutralStrokeAccessible | components: text-input */
    --ctrlTextInputAccessibleStrokeBottomColorHover: #575757; /* ctrl token not available -- missing | fluent2: colorNeutralStrokeAccessibleHover | components: text-input */
    --ctrlTextInputAccessibleStrokeBottomColorPressed: #4d4d4d; /* ctrl token not available -- missing | fluent2: colorNeutralStrokeAccessiblePressed | components: text-input */
    --ctrlTextInputControlBackgroundRest: transparent; /* ctrl token not available --unaccounted for | fluent2: colorTransparentBackground | components: text-input */
    --ctrlTextInputIconColorRest: #616161; /* fluent2: colorNeutralForeground3 | components: text-input */
    --ctrlTextInputForegroundColorRest: #242424; /* fluent2: colorNeutralForeground1 | components: text-input */
    --ctrlTextInputForegroundColorDisabled: #bdbdbd; /* fluent2: colorNeutralForegroundDisabled | components: text-input */
    --ctrlTextInputForegroundColorSelectedRest: #ffffff; /* fluent2: colorNeutralForegroundInverted | components: text-input */
    --ctrlTextInputLabelColorRest: #242424; /* ctrl token not available -- missing | fluent2: colorNeutralForeground1 | components: text-input */
    --ctrlTextInputPlaceholderForegroundColor: #707070; /* ctrl token not available -- missing | fluent2: colorNeutralForeground4 | components: text-input */
    --ctrlTextInputOutlineStrokeColorSelected: #e6e6e6; /* ctrl token not available --missing | fluent2: colorNeutralStroke1 | components: text-input */
    --ctrlCardCorner: 24px; /* currently not mapped but should be used | components: card */
    --ctrlCardStrokeColor: #e6e6e6; /* currently not mapped but should be used | fluent2: colorNeutralStroke1 | components: card */
    --ctrlDialogPrimaryBackgroundColor: #ffffff; /* fluent2: colorNeutralBackground1 | components: dialog */
    --ctrlDialogSecondaryBackgroundColor: rgba(0, 0, 0, 0.4); /* fluent2: colorBackgroundOverlay | components: dialog */
    --ctrlDialogForegroundColor: #242424; /* fluent2: colorNeutralForeground1 | components: dialog */
    --ctrlDialogStrokeColor: transparent; /* fluent2: colorTransparentStroke | components: dialog */
    --ctrlDialogStrokeWidth: 1px; /* fluent2: strokeWidthThin | components: dialog */
    --ctrlProgressIndicatorBackgroundColor: #0f6cbd; /* fluent2: colorCompoundBrandBackground | components: progress-bar */
    --ctrlProgressIndicatorTransientBackgroundColor: transparent; /* fluent2: colorTransparentBackground | components: progress-bar */
    --ctrlProgressBackgroundColor: #e6e6e6; /* fluent2: colorNeutralBackground6 | components: progress-bar */
}

.darkTheme {
    --ctrlAvatarDefaultBackgroundColor: #333333;
    --ctrlAvatarDefaultForegroundColor: #adadad;
    --ctrlAvatarDefaultBadgeStrokeColor: #292929;

    --ctrlStatusBrandBackgroundColor: #ffffff;
    --ctrlStatusBrandForegroundColor: #479ef5;
    --ctrlStatusBrandTintBackgroundColor: #082338;
    --ctrlStatusBrandTintForegroundColor: #62abf5;
    --ctrlStatusBrandTintStrokeColor: #0e4775;
    --ctrlStatusDangerBackgroundColor: #e37d80;
    --ctrlStatusDangerForegroundColor: #292929;
    --ctrlStatusDangerTintBackgroundColor: #3f1011;
    --ctrlStatusDangerTintForegroundColor: #ffffff;
    --ctrlStatusDangerTintStrokeColor: #d13438;
    --ctrlStatusWarningBackgroundColor: #4c4400;
    --ctrlStatusWarningForegroundColor: #ffffff;
    --ctrlStatusWarningTintBackgroundColor: #4c4400;
    --ctrlStatusWarningTintForegroundColor: #fef7b2;
    --ctrlStatusWarningTintStrokeColor: #fde300;
    --ctrlStatusImportantBackgroundColor: #adadad;
    --ctrlStatusImportantForegroundColor: #242424;
    --ctrlStatusImportantTintBackgroundColor: #adadad;
    --ctrlStatusImportantTintForegroundColor: #292929;
    --ctrlStatusImportantTintStrokeColor: #242424;
    --ctrlStatusInformativeBackgroundColor: #adadad;
    --ctrlStatusInformativeForegroundColor: #0a0a0a;
    --ctrlStatusInformativeTintBackgroundColor: #0a0a0a;
    --ctrlStatusInformativeTintForegroundColor: #adadad;
    --ctrlStatusInformativeTintStrokeColor: #525252;
    --ctrlStatusCautionBackgroundColor: #e9835e;
    --ctrlStatusCautionForegroundColor: #292929;
    --ctrlStatusCautionTintBackgroundColor: #411200;
    --ctrlStatusCautionTintForegroundColor: #e9835e;
    --ctrlStatusCautionTintStrokeColor: #da3b01;
    --ctrlStatusSuccessBackgroundColor: #9fd89f;
    --ctrlStatusSuccessForegroundColor: #052505;
    --ctrlStatusSuccessTintBackgroundColor: #052505;
    --ctrlStatusSuccessTintForegroundColor: #54b054;
    --ctrlStatusSuccessTintStrokeColor: #9fd89f;
    --ctrlListStrokeColorSelectedRest: #000000;
    --ctrlListStrokeColorBoxShadowSelectedRest: #ffffff;
    --ctrlListForegroundColorRest: #ffffff;
    --ctrlListForegroundColorDisabled: #5c5c5c;
    --ctrlDefaultFocusOuterStrokeColor: #ffffff;
    --ctrlButtonDefaultBackgroundRest: #292929;
    --ctrlButtonDefaultBackgroundHover: #3d3d3d;
    --ctrlButtonDefaultBackgroundPressed: #1f1f1f;
    --ctrlButtonDefaultBackgroundDisabled: #141414;
    --ctrlButtonDefaultStrokeColorRest: #666666;
    --ctrlButtonDefaultStrokeColorHover: #757575;
    --ctrlButtonDefaultStrokeColorPressed: #6b6b6b;
    --ctrlButtonDefaultStrokeColorDisabled: #424242;
    --ctrlButtonDefaultForegroundColorRest: #ffffff;
    --ctrlButtonDefaultForegroundColorHover: #ffffff;
    --ctrlButtonDefaultForegroundColorPressed: #ffffff;
    --ctrlButtonDefaultForegroundColorDisabled: #5c5c5c;
    --ctrlButtonBrandBackgroundRest: #115ea3;
    --ctrlButtonBrandBackgroundHover: #0f6cbd;
    --ctrlButtonBrandBackgroundPressed: #0c3b5e;
    --ctrlButtonSubtleBackgroundHover: #383838;
    --ctrlButtonSubtleBackgroundPressed: #2e2e2e;
    --ctrlButtonSubtleForegroundColorRest: #d6d6d6;
    --ctrlButtonSubtleForegroundColorHover: #ffffff;
    --ctrlButtonSubtleForegroundColorPressed: #ffffff;
    --ctrlButtonTransparentForegroundColorRest: #d6d6d6;
    --ctrlButtonTransparentForegroundColorHover: #479ef5;
    --ctrlButtonTransparentForegroundColorPressed: #2886de;
    --ctrlTextInputBackgroundRest: #292929;
    --ctrlTextInputBackgroundSelectedRest: #ffffff;
    --ctrlTextInputDarkerBackgroundRest: #141414;
    --ctrlTextInputStrokeColorRest: #666666;
    --ctrlTextInputStrokeColorHover: #757575;
    --ctrlTextInputStrokeColorPressed: #6b6b6b;
    --ctrlTextInputStrokeColorDisabled: #424242;
    --ctrlTextInputStrokeColorErrorRest: #e37d80;
    --ctrlTextInputStrokeBottomColorRest: #479ef5;
    --ctrlTextInputStrokeBottomColorPressed: #2886de;
    --ctrlTextInputStrokeBottomColorDisabled: #424242;
    --ctrlTextInputAccessibleStrokeBottomColorRest: #adadad;
    --ctrlTextInputAccessibleStrokeBottomColorHover: #bdbdbd;
    --ctrlTextInputAccessibleStrokeBottomColorPressed: #b3b3b3;
    --ctrlTextInputIconColorRest: #adadad;
    --ctrlTextInputForegroundColorRest: #ffffff;
    --ctrlTextInputForegroundColorDisabled: #5c5c5c;
    --ctrlTextInputForegroundColorSelectedRest: #242424;
    --ctrlTextInputLabelColorRest: #ffffff;
    --ctrlTextInputPlaceholderForegroundColor: #999999;
    --ctrlTextInputOutlineStrokeColorSelected: #666666;
    --ctrlCardStrokeColor: #666666;
    --ctrlDialogPrimaryBackgroundColor: #292929;
    --ctrlDialogSecondaryBackgroundColor: rgba(0, 0, 0, 0.5);
    --ctrlDialogForegroundColor: #ffffff;
    --ctrlProgressIndicatorBackgroundColor: #479ef5;
    --ctrlProgressBackgroundColor: #333333;
}
